[data-bs-theme="dark"] body {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg-2);
}

[data-bs-theme="dark"] ::-webkit-scrollbar-track {
  background-color: rgb(0 0 0 / 5%);
}

[data-bs-theme="dark"] ::-webkit-scrollbar-thumb {
  background-color: rgb(144 147 153 / 30%);
  border-radius: 10px;
}

[data-bs-theme="dark"] ::-webkit-scrollbar-thumb:hover {
  background-color: var(--bs-simplebar);
}

[data-bs-theme="dark"] input:-internal-autofill-selected {
  background-color: var(--bs-body-bg);
}
/* Header */

[data-bs-theme="dark"] .top-header .navbar {
  background-color: var(--bs-body-bg);
  border-color: var(--bs-border-color-translucent);
}

[data-bs-theme="dark"] .simplebar-scrollbar:before {
  background-color: var(--bs-simplebar);
}

[data-bs-theme="dark"] .top-header .navbar .top-right-menu .nav-item .nav-link,
[data-bs-theme="dark"] .top-header .navbar .btn-toggle-menu {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: var(--bs-border-color-translucent);
}

[data-bs-theme="dark"] .search-bar input[disabled] {
  background-color: var(--bs-body-bg);
}

[data-bs-theme="dark"] .dropdown-large .msg-header,
[data-bs-theme="dark"] .dropdown-large .msg-footer,
[data-bs-theme="dark"] .dropdown-large .dropdown-menu .dropdown-item,
[data-bs-theme="dark"] .dropdown-large .dropdown-menu,
[data-bs-theme="dark"] .top-header .navbar .dropdown-app .dropdown-menu {
  border-color: var(--bs-border-color-translucent);
}

[data-bs-theme="dark"] .dropdown-large .msg-footer,
[data-bs-theme="dark"] .dropdown-large .msg-header .msg-header-clear,
[data-bs-theme="dark"] .dropdown-large .msg-header .msg-header-title,
[data-bs-theme="dark"]
  .top-header
  .navbar
  .dropdown-app
  .dropdown-menu
  .app-name {
  color: var(--bs-body-color);
}

[data-bs-theme="dark"]
  .top-header
  .navbar
  .dropdown-app
  .dropdown-menu
  .app-box:hover {
  background-color: #363a3f;
}

[data-bs-theme="dark"]
  .top-header
  .navbar
  .dropdown-large
  .dropdown-menu::after,
[data-bs-theme="dark"] .top-header .navbar .dropdown-app .dropdown-menu::after {
  background-color: var(--bs-body-bg);
  border-color: var(--bs-border-color-translucent);
}

[data-bs-theme="dark"] .popup-search input::placeholder {
  color: #ffffff !important;
}

/* sidebar */

[data-bs-theme="dark"] .sidebar-wrapper .sidebar-nav,
[data-bs-theme="dark"] .sidebar-wrapper .sidebar-header,
[data-bs-theme="dark"] .sidebar-wrapper .sidebar-bottom,
[data-bs-theme="dark"] .sidebar-wrapper {
  background-color: var(--bs-body-bg);
  border-color: var(--bs-border-color-translucent);
}

[data-bs-theme="dark"] .sidebar-wrapper .sidebar-bottom .user-info .user-name {
  color: var(--bs-light-text);
}

[data-bs-theme="dark"]
  .sidebar-wrapper
  .sidebar-bottom
  .user-info
  .user-designation {
  color: var(--bs-body-color);
}

[data-bs-theme="dark"] .sidebar-wrapper .sidebar-bottom .dropdown-menu {
  background-color: var(--bs-body-bg-2);
  border-color: var(--bs-border-color-translucent);
}

[data-bs-theme="dark"] .sidebar-wrapper .metismenu a {
  color: var(--bs-body-color);
}

[data-bs-theme="dark"] .sidebar-wrapper .sidebar-bottom .user-img img {
  border-color: var(--bs-border-color-translucent);
}

[data-bs-theme="dark"] .sidebar-wrapper .metismenu .mm-active > a {
  color: #0d6efd;
  font-weight: 600;
}

[data-bs-theme="dark"] .sidebar-wrapper .metismenu a .parent-icon {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: var(--bs-border-color-translucent);
}

[data-bs-theme="dark"] .sidebar-wrapper .metismenu .mm-active > a .parent-icon,
[data-bs-theme="dark"] .sidebar-wrapper .metismenu a:hover .parent-icon,
[data-bs-theme="dark"] .sidebar-wrapper .metismenu a:focus .parent-icon,
[data-bs-theme="dark"] .sidebar-wrapper .metismenu a:active .parent-icon {
  color: #ffffff;
  text-decoration: none;
  background: #0d6efd;
  border-color: #0d6efd;
  transition: ease-out 0.3s;
}

[data-bs-theme="dark"] .sidebar-wrapper .metismenu ul {
  background-color: var(--bs-body-bg);
}

[data-bs-theme="dark"] .customer-table .customer-name {
  color: var(--bs-dark-text);
}

[data-bs-theme="dark"] .customer-profile img.rounded-circle {
  border-color: var(--bs-border-color-translucent);
}

[data-bs-theme="dark"] .table-light {
  --bs-table-color: #fff;
  --bs-table-bg: #303539;
  --bs-table-border-color: #495057;
}

/* email */

[data-bs-theme="dark"] .email-wrapper,
[data-bs-theme="dark"] .email-sidebar,
[data-bs-theme="dark"] .email-sidebar-header,
[data-bs-theme="dark"] .email-navigation a.list-group-item,
[data-bs-theme="dark"] .email-meeting a.list-group-item {
  background-color: var(--bs-body-bg);
}

[data-bs-theme="dark"] .email-sidebar {
  border-color: var(--bs-border-color-translucent);
}

[data-bs-theme="dark"] .email-navigation a.list-group-item:hover {
  background-color: var(--bs-light-2);
}

[data-bs-theme="dark"] .email-navigation a.list-group-item.active {
  color: #0b5ed7;
  font-weight: 600;
  background-color: rgb(13 110 253 / 0.12);
}

[data-bs-theme="dark"] .email-header {
  background-color: var(--bs-body-bg);
  border-color: var(--bs-border-color-translucent);
}

[data-bs-theme="dark"] .email-meeting a.list-group-item,
[data-bs-theme="dark"] .email-navigation a.list-group-item {
  color: var(--bs-body-color);
}

[data-bs-theme="dark"] .btn-white {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: var(--bs-border-color-translucent);
}

[data-bs-theme="dark"] .email-list div.email-message {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: var(--bs-border-color-translucent);
}

.email-list div.email-message:hover {
  background-color: var(--bs-light-2);
}

[data-bs-theme="dark"] .btn-light {
  color: var(--bs-body-color);
  background-color: var(--bs-light-bg-subtle);
  border-color: var(--bs-border-color-translucent);
}

[data-bs-theme="dark"] .bg-light {
  background-color: #32363b !important;
}

/* chat box */

[data-bs-theme="dark"] .chat-wrapper,
[data-bs-theme="dark"] .chat-sidebar,
[data-bs-theme="dark"] .chat-sidebar-header,
[data-bs-theme="dark"] .chat-header,
[data-bs-theme="dark"] .chat-footer {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
}

[data-bs-theme="dark"] .chat-sidebar-header,
[data-bs-theme="dark"] .chat-header,
[data-bs-theme="dark"] .chat-sidebar {
  border-color: var(--bs-border-color-translucent);
}

[data-bs-theme="dark"] .chat-title {
  color: var(--bs-light-text);
}

[data-bs-theme="dark"] .chat-msg,
[data-bs-theme="dark"] .chat-time,
[data-bs-theme="dark"] .chat-tab-menu li a.nav-link {
  color: var(--bs-body-color);
}

[data-bs-theme="dark"] .chat-list .list-group-item:hover,
[data-bs-theme="dark"] .chat-list .list-group-item.active {
  background-color: var(--bs-light-2);
}

[data-bs-theme="dark"] .chat-top-header-menu a,
[data-bs-theme="dark"] .chat-footer-menu a,
[data-bs-theme="dark"] .chat-toggle-btn {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: var(--bs-border-color-translucent);
}

[data-bs-theme="dark"] .chat-content-leftside .chat-left-msg {
  background-color: var(--bs-light-2);
}

[data-bs-theme="dark"] .chat-content-rightside .chat-right-msg {
  color: var(--bs-info-text);
  background-color: var(--bs-primary-bg-subtle);
}

[data-bs-theme="dark"] .fm-menu .list-group a {
  color: var(--bs-body-color);
}

[data-bs-theme="dark"] .fm-menu .list-group a:hover {
  color: var(--bs-light-text);
  background-color: var(--bs-light-bg-subtle);
}

[data-bs-theme="dark"] .fm-file-box {
  background-color: var(--bs-light-bg-subtle);
}

[data-bs-theme="dark"] .contacts-social a {
  background-color: var(--bs-light-2);
  border-color: var(--bs-border-color-translucent);
}

[data-bs-theme="dark"] .fc-theme-standard td,
[data-bs-theme="dark"] .fc-theme-standard th,
[data-bs-theme="dark"] .fc-theme-standard .fc-scrollgrid {
  border-color: var(--bs-border-color-translucent);
}

[data-bs-theme="dark"] .fc .fc-button-primary {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: var(--bs-border-color-translucent);
}

[data-bs-theme="dark"] .fc .fc-button-primary:not(:disabled).fc-button-active,
[data-bs-theme="dark"] .fc .fc-button-primary:not(:disabled):active {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg-2);
  border-color: var(--bs-border-color-translucent);
}

[data-bs-theme="dark"] .fc .fc-non-business {
  background-color: var(--bs-body-bg-2);
}

[data-bs-theme="dark"] .w_percent {
  color: var(--bs-body-color);
}

[data-bs-theme="dark"] .ff_fileupload_wrap .ff_fileupload_dropzone {
  background-color: var(--bs-body-bg-2);
}

[data-bs-theme="dark"] .nav-pills .nav-link {
  color: var(--bs-body-color);
  border-color: var(--bs-border-color-translucent);
}

[data-bs-theme="dark"] .nav-pills .nav-link.active,
[data-bs-theme="dark"] .nav-pills .show > .nav-link {
  color: var(--bs-light-text);
}

[data-bs-theme="dark"] .product-table .product-tags .btn-tags {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg-2);
  border: 1px solid;
  border-color: var(--bs-border-color-translucent);
}

[data-bs-theme="dark"] .product-title {
  color: var(--bs-light-text);
}

[data-bs-theme="dark"] .product-category {
  color: var(--bs-body-color);
}

[data-bs-theme="dark"] .product-rating {
  color: var(--bs-light-text);
  background-color: var(--bs-body-bg-2);
  border-color: var(--bs-border-color-translucent);
}

[data-bs-theme="dark"] .nav-tabs .nav-link {
  color: var(--bs-body-color);
}

[data-bs-theme="dark"] .nav-primary.nav-tabs .nav-link.active {
  color: #008cff;
  border-color: #008cff #008cff rgba(255, 255, 255, 0);
}

[data-bs-theme="dark"] .nav-danger.nav-tabs .nav-link.active {
  color: #f41127;
  border-color: #f41127 #f41127 rgba(255, 255, 255, 0);
}

[data-bs-theme="dark"] .nav-success.nav-tabs .nav-link.active {
  color: #17a00e;
  border-color: #17a00e #17a00e rgba(255, 255, 255, 0);
}

[data-bs-theme="dark"] .nav-warning.nav-tabs .nav-link.active {
  color: #ffc107;
  border-color: #ffc107 #ffc107 rgba(255, 255, 255, 0);
}

[data-bs-theme="dark"] .theme-icons {
  background-color: var(--bs-body-bg);
}

[data-bs-theme="dark"] .bootstrap-tagsinput {
  background-color: var(--bs-body-bg);
  border-color: var(--bs-border-color-translucent);
}

[data-bs-theme="dark"] .bs-stepper .step-trigger {
  color: var(--bs-body-color);
}

[data-bs-theme="dark"] .bs-stepper-circle {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: var(--bs-border-color-translucent);
}

[data-bs-theme="dark"] .active .bs-stepper-circle {
  color: #ffffff;
  background-color: var(--bs-primary);
}

[data-bs-theme="dark"] .bs-stepper-line,
[data-bs-theme="dark"] .bs-stepper .line {
  background-color: var(--bs-border-color-translucent);
}

[data-bs-theme="dark"] .bs-stepper.vertical .bs-stepper-header {
  background-color: var(--bs-body-bg-2);
  border-color: var(--bs-border-color-translucent);
}

[data-bs-theme="dark"] .imageuploadify {
  background-color: var(--bs-body-bg-2);
  border-color: var(--bs-border-color-translucent);
}

[data-bs-theme="dark"] .flatpickr-calendar {
  background-color: var(--bs-body-bg-2);
  border-color: var(--bs-border-color-translucent);
}

[data-bs-theme="dark"] .flatpickr-months .flatpickr-month {
  color: var(--bs-body-color);
}

[data-bs-theme="dark"] .flatpickr-months .flatpickr-prev-month,
[data-bs-theme="dark"] .flatpickr-months .flatpickr-next-month {
  color: var(--bs-body-color);
}

[data-bs-theme="dark"] span.flatpickr-weekday {
  color: var(--bs-body-color);
}

[data-bs-theme="dark"] .flatpickr-day {
  color: var(--bs-body-color);
}

[data-bs-theme="dark"] .select2-container--bootstrap-5 .select2-selection {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: var(--bs-border-color-translucent);
}

[data-bs-theme="dark"] .select2-container--bootstrap-5 .select2-dropdown {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
}

[data-bs-theme="dark"]
  .select2-container--bootstrap-5
  .select2-dropdown
  .select2-results__options
  .select2-results__option.select2-results__option--highlighted {
  background-color: var(--bs-light-2);
  color: var(--bs-body-color);
}

[data-bs-theme="dark"]
  .select2-container--bootstrap-5
  .select2-dropdown
  .select2-search
  .select2-search__field {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: var(--bs-border-color-translucent);
}

[data-bs-theme="dark"]
  .select2-container--bootstrap-5.select2-container--disabled
  .select2-selection,
[data-bs-theme="dark"]
  .select2-container--bootstrap-5.select2-container--disabled.select2-container--focus
  .select2-selection {
  color: var(--bs-body-color);
  background-color: var(--bs-light-2);
  border-color: var(--bs-border-color-translucent);
}

[data-bs-theme="dark"]
  .select2-container--bootstrap-5
  .select2-selection--multiple
  .select2-selection__rendered
  .select2-selection__choice {
  color: var(--bs-body-color);
  border-color: var(--bs-border-color-translucent);
}

[data-bs-theme="dark"] .auth-cover-right {
  background-color: var(--bs-body-bg);
}

[data-bs-theme="dark"] .btn-option {
  color: var(--bs-body-color);
}

[data-bs-theme=dark] #upload-panel {
    background-color: var(--bs-body-bg-2);
    border-color:var(--bs-border-color-translucent);
}

[data-bs-theme=dark] #file-list li {
  border-color:var(--bs-border-color-translucent);
}

[data-bs-theme=dark] .wmd-edittab a.active {
  background-color: var(--bs-body-bg);
}

[data-bs-theme=dark] #wmd-preview {
  background-color: var(--bs-body-bg-2);
}

[data-bs-theme=dark] .wmd-button-row li.wmd-spacer {
  background-color: var(--bs-border-color-translucent);
}

[data-bs-theme=dark] .fullscreen #wmd-button-bar,
[data-bs-theme=dark] .fullscreen #text,
[data-bs-theme=dark] .fullscreen #wmd-preview,
[data-bs-theme=dark] .fullscreen .submit {
  background-color: var(--bs-body-bg);
}

[data-bs-theme=dark] .fullscreen #wmd-button-bar,
[data-bs-theme=dark] .fullscreen .submit,
[data-bs-theme=dark] .fullscreen #wmd-preview {
  border-color:var(--bs-border-color-translucent);
}

[data-bs-theme=dark] #wmd-preview code,
[data-bs-theme=dark] #wmd-preview pre {
  background-color: var(--bs-body-bg-2);
  color: var(--bs-body-color);
}

[data-bs-theme=dark] .resize {
  border-color: var(--bs-border-color-translucent);
}

[data-bs-theme=dark] .resize i {
  background-color: var(--bs-border-color-translucent);
}

[data-bs-theme=dark] ul.tag-list {
  background-color: var(--bs-body-bg);
}

[data-bs-theme=dark] ul.tag-list li:hover {
  background-color: var(--bs-light-2);
}

[data-bs-theme=dark] ul.tag-list li.checked {
  background-color: var(--bs-primary);
  color: white;
}
