[data-bs-theme="semi-dark"] {
  --bs-body-color-semi: #adb5bd;
  --bs-body-bg-semi: #212529;
  --bs-body-bg-semi-2: #191b1e;
  --bs-light-text-semi: #f8f9fa;
  --bs-light-semi-2: #32363b;
  --bs-simplebar: #727477;
  --bs-border-color-translucent-semi: rgba(255, 255, 255, 0.15);
}

[data-bs-theme="semi-dark"] .sidebar-wrapper .sidebar-nav,
[data-bs-theme="semi-dark"] .sidebar-wrapper .sidebar-header,
[data-bs-theme="semi-dark"] .sidebar-wrapper .sidebar-bottom,
[data-bs-theme="semi-dark"] .sidebar-wrapper {
  background-color: var(--bs-body-bg-semi);
  border-color: var(--bs-border-color-translucent-semi);
}

[data-bs-theme="semi-dark"] .sidebar-wrapper .sidebar-header .logo-name h5 {
  color: var(--bs-body-color-semi);
}

[data-bs-theme="semi-dark"]
  .sidebar-wrapper
  .sidebar-bottom
  .user-info
  .user-name {
  color: var(--bs-light-text-semi);
}

[data-bs-theme="semi-dark"] .sidebar-wrapper .sidebar-header .sidebar-close {
  color: var(--bs-body-color-semi);
}

[data-bs-theme="semi-dark"]
  .sidebar-wrapper
  .sidebar-bottom
  .user-info
  .user-designation {
  color: var(--bs-body-color-semi);
}

[data-bs-theme="semi-dark"] .sidebar-wrapper .sidebar-bottom .dropdown-menu {
  background-color: var(--bs-body-bg-semi-2);
  border-color: var(--bs-border-color-translucent);
}

[data-bs-theme="semi-dark"]
  .sidebar-wrapper
  .sidebar-bottom
  .dropdown-menu
  .dropdown-item {
  color: var(--bs-body-color-semi);
}

[data-bs-theme="semi-dark"]
  .sidebar-wrapper
  .sidebar-bottom
  .dropdown-menu
  .dropdown-item:hover {
  background-color: var(--bs-body-bg-semi);
}

[data-bs-theme="semi-dark"] .sidebar-wrapper .metismenu a {
  color: var(--bs-body-color-semi);
}

[data-bs-theme="semi-dark"] .sidebar-wrapper .metismenu .mm-active > a {
  color: #0d6efd;
  font-weight: 600;
}

[data-bs-theme="semi-dark"] .sidebar-wrapper .metismenu a .parent-icon {
  color: var(--bs-body-color-semi);
  background-color: var(--bs-body-bg-semi);
  border-color: var(--bs-border-color-translucent-semi);
}

[data-bs-theme="semi-dark"]
  .sidebar-wrapper
  .metismenu
  .mm-active
  > a
  .parent-icon,
[data-bs-theme="semi-dark"] .sidebar-wrapper .metismenu a:hover .parent-icon,
[data-bs-theme="semi-dark"] .sidebar-wrapper .metismenu a:focus .parent-icon,
[data-bs-theme="semi-dark"] .sidebar-wrapper .metismenu a:active .parent-icon {
  color: #ffffff;
  text-decoration: none;
  background: #0d6efd;
  border-color: #0d6efd;
  transition: ease-out 0.3s;
}

[data-bs-theme="semi-dark"] .sidebar-wrapper .metismenu ul {
  background-color: var(--bs-body-bg-semi);
}

[data-bs-theme="semi-dark"] .simplebar-scrollbar:before {
  background-color: var(--bs-simplebar);
}
